---
const { 
    title = 'Global Travel',
    description = '',
} = Astro.props;
---
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-gem"></span></div>
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
</section>