<section id="footer">
	<div class="inner">
		<h2 class="major">Kontaktieren Sie uns</h2>
		<p>
            Haben Sie Fragen, Wünsche oder Anregungen? Bitte nehmen Sie Kontakt mit uns auf, wir 
            helfen Ihnen gerne weiter! Benutzen Sie zur Übermittlung Iherer Nachricht das nachfolgende
            Formular. Die Beantwortung Ihrer Anfrage wird so schnell wie möglich beantwortet.
        </p>
		<form method="post" action="#">
		    <div class="fields">
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name"/>
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email"/>
				</div>
				<div class="field">
					<label for="message">Nachricht</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
			</div>
			<ul class="actions">
				<li><input type="submit" value="Nachricht senden"/></li>
			</ul>
		</form>
        <ul class="contact">
            <li class="icon solid fa-home">
                Global Travel<br/>
                Musterstraße 1<br/>
                12345, Musterhausen
            </li>
            <li class="icon solid fa-phone">+49 08171 7787</li>
            <li class="icon solid fa-fax">+49 08171 7137</li>
            <li class="icon solid fa-envelope"><a href="mailto:globaltravel@t-online.de">globaltravel@t-online.de</a></li>
            <li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
            <li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
        </ul>
        <ul class="copyright">
            <li>Powered by <a href="https://astro.build/">astro</a> --- Please report issues on <a href="#">GitHub</a></li>
            <li>&copy; Global Travel. All rights reserved.</li>
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/privacy">Datenschutzerklärung</a></li>
        </ul>
    </div>
</section>
