---
const { 
    title = 'Global Travel',
} = Astro.props;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
<title>{title}</title>

<link rel="stylesheet" type="text/css" href="/sass/main.css">
<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
<noscript><link rel="stylesheet" type="text/css" href="/sass/noscript.css"></noscript>

<link href="https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic" rel="stylesheet">